<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LinkedIn Thing!</title>
</head>
<body>
  <h1>Log in with linkedin or perish!</h1>
  <% if (user) { %>
  <img src="<%= user.photos[0].value %>" alt="">
  <h3><%= user.displayName %></h3>
  <p><%= user.email %></p>
  <p>
    <a href="/auth/logout">Logout!</a>
  </p>
  <% } else { %>
  <a href="/auth/linkedin">Login already!</a>
  <% } %>
</body>
</html>
