<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Linked Thing!</title>
</head>
<body>
  <h1>Log in with linkedin or perish!</h1>
  <a href="/auth/linkedin">Login!</a>
</body>
</html>
