<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LinkedIn Thing!</title>
</head>
<body>
  <h1>Log in with linkedin or perish!</h1>
  <a href="/auth/linkedin">Login!</a>
  <p>
    <a href="/auth/logout">Or Logout!</a> I don't even care.
  </p>
</body>
</html>
